.text-blue-100 {
  color: #0000e6;
}

.text-blue-200 {
  color: #0000cc;
}

.text-blue-300 {
  color: #0000b3;
}

.text-blue-400 {
  color: #000099;
}

.text-blue-500 {
  color: navy;
}

.text-blue-600 {
  color: #000066;
}

.text-blue-700 {
  color: #00004d;
}

.text-blue-800 {
  color: #000033;
}

.text-blue-900 {
  color: #00001a;
}

.text-red-100 {
  color: #e60000;
}

.text-red-200 {
  color: #cc0000;
}

.text-red-300 {
  color: #b30000;
}

.text-red-400 {
  color: #990000;
}

.text-red-500 {
  color: maroon;
}

.text-red-600 {
  color: #660000;
}

.text-red-700 {
  color: #4d0000;
}

.text-red-800 {
  color: #330000;
}

.text-red-900 {
  color: #1a0000;
}

.text-green-100 {
  color: #00e600;
}

.text-green-200 {
  color: #00cc00;
}

.text-green-300 {
  color: #00b300;
}

.text-green-400 {
  color: #009900;
}

.text-green-500 {
  color: green;
}

.text-green-600 {
  color: #006600;
}

.text-green-700 {
  color: #004d00;
}

.text-green-800 {
  color: #003300;
}

.text-green-900 {
  color: #001a00;
}

.text-white-100 {
  color: #f2f2f2;
}

.text-white-200 {
  color: #e6e6e6;
}

.text-white-300 {
  color: #d9d9d9;
}

.text-white-400 {
  color: #cccccc;
}

.text-white-500 {
  color: #bfbfbf;
}

.text-white-600 {
  color: #b3b3b3;
}

.text-white-700 {
  color: #a6a6a6;
}

.text-white-800 {
  color: #999999;
}

.text-white-900 {
  color: #8c8c8c;
}

.text-yellow-100 {
  color: #e6e600;
}

.text-yellow-200 {
  color: #cccc00;
}

.text-yellow-300 {
  color: #b3b300;
}

.text-yellow-400 {
  color: #999900;
}

.text-yellow-500 {
  color: olive;
}

.text-yellow-600 {
  color: #666600;
}

.text-yellow-700 {
  color: #4d4d00;
}

.text-yellow-800 {
  color: #333300;
}

.text-yellow-900 {
  color: #1a1a00;
}

.text-grey-100 {
  color: #737373;
}

.text-grey-200 {
  color: #676767;
}

.text-grey-300 {
  color: #5a5a5a;
}

.text-grey-400 {
  color: #4d4d4d;
}

.text-grey-500 {
  color: #404040;
}

.text-grey-600 {
  color: #343434;
}

.text-grey-700 {
  color: #272727;
}

.text-grey-800 {
  color: #1a1a1a;
}

.text-grey-900 {
  color: #0d0d0d;
}

.text-pink-100 {
  color: #ffa7b6;
}

.text-pink-200 {
  color: #ff8da1;
}

.text-pink-300 {
  color: #ff748c;
}

.text-pink-400 {
  color: #ff5a77;
}

.text-pink-500 {
  color: #ff4162;
}

.text-pink-600 {
  color: #ff274d;
}

.text-pink-700 {
  color: #ff0e38;
}

.text-pink-800 {
  color: #f3002a;
}

.text-pink-900 {
  color: #da0026;
}